<mat-card class="example-card">
    <h2>Sobre Nós</h2>
    <mat-card-content>
        <p>
            O See Pay é um website completo e intuitivo, desenvolvido para oferecer uma experiência simplificada e eficaz
      no gerenciamento financeiro pessoal. Ele auxilia os usuários a controlarem todas as suas despesas, rendimentos e
      obrigações financeiras de maneira organizada e acessível. Com o See Pay, é possível monitorar gastos diários, mensais e
      anuais, indicando sua origem como alimentação, moradia, lazer, transporte e muito mais, proporcionando uma visão
      clara e detalhada de para onde o dinheiro está indo.
        </p>
    </mat-card-content>
    <div class="itensSobre">
        <p class="p2">Controle suas Despesas</p>
        <img src="../../../assets/carteira.png">
        <p class="p2">Aumente seus Rendimentos</p>
        <img src="../../../assets/simbolo.png">
    </div>
</mat-card>
<footer class="footer">
    <div class="footer-container">
        <p>
            Copyright &copy; 2024 SeePay. Todos os direitos reservados.
        </p>
    </div>
</footer>
