<mat-grid-list cols="2">
    <mat-grid-tile>
        <div class="banner">
            <div class="container">
                <h2>Bem vindo ao SeePay!</h2>
                <p>O SeePay te auxilia a organizar suas finanças e manter suas contas em dia, promovendo tranquilidade financeira para sua vida</p>
                <a routerLink="/menu/sobre" class="btn">Saiba mais</a>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="imagem">
            <img src="../../../assets/teste.png" alt="teste">
        </div>
    </mat-grid-tile>
</mat-grid-list>
