<form [formGroup]="despesaForm" (ngSubmit)="submit()" class="example-container">
  <mat-form-field>
    <input formControlName="despesa" matInput placeholder="Ex. conta água" />
    <mat-error *ngIf="despesaForm.get('despesa')?.hasError('required')"
      >Despesa é obrigatória</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input formControlName="valor" matInput placeholder="Ex. 100.00" type="number"/>
    <mat-error *ngIf="despesaForm.get('valor')?.hasError('required')">Valor é obrigatório</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      formControlName="data"
      matInput
      [matDatepicker]="picker"
      placeholder="Escolha a data"/>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="despesaForm.get('data')?.hasError('required')"
      >Data é obrigatória</mat-error>
  </mat-form-field>
  <button [disabled]="!despesaForm.valid" mat-button type="submit">
    Cadastrar
  </button>
</form>
