@import "../../../styles.css";

.mat-mdc-card {
  display: flex;
  width: 1000px;
  border-radius: 3px;
}

.mat-mdc-card-header {
  padding-top: 10px;
}

.mat-mdc-table {
  height: 300px;
  overflow: auto;
  border-radius: 3px;
}

.mat-mdc-header-cell {
  background-color: var(--primary700) !important;
}

.mat-mdc-cell {
  background-color: var(--primary100) !important;
  color: var(--secondary100) !important;
  border-bottom: 1px solid var(--primary700);
}
